[Unit]
Description=Report an isopod startup failure
Before=isopod.service
Conflicts=isopod.service
OnFailure=isopod-setupfail.service

[Service]
Type=oneshot
ExecStartPre=test -e /dev/cdrom
ExecStart=-/opt/isopod/bin/isopod-epd show systemfail
